Repository scttfrdmn/aws-instance-benchmarks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-package-docs, check-function-docs, check-todos

.pre-commit-config.yaml:

# Pre-commit hooks for AWS Instance Benchmarks
# Enforces documentation standards before commits

repos:
  # Go-specific hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      # Format code consistently
      - id: go-fmt
      
      # Organize imports
      - id: go-imports
      
      # Run comprehensive linting (includes documentation checks)
      - id: golangci-lint
        args: [--config=.golangci.yml]
        
      # Ensure tests pass
      - id: go-unit-tests
      
      # Check for vulnerabilities
      - id: go-sec
        args: ['-quiet']

  # Documentation-specific checks
  - repo: local
    hooks:
      # Custom hook to check for package documentation
      - id: check-package-docs
        name: Check Package Documentation
        entry: scripts/check-package-docs.sh
        language: script
        files: '\.go$'
        exclude: '_test\.go$'
        
      # Verify all exported functions have comments
      - id: check-function-docs
        name: Check Function Documentation
        entry: scripts/check-function-docs.sh
        language: script
        files: '\.go$'
        exclude: '_test\.go$'
        
      # Check for TODO/FIXME without issue references
      - id: check-todos
        name: Check TODO Comments
        entry: scripts/check-todos.sh
        language: script
        files: '\.go$'

  # Markdown and documentation formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Fix trailing whitespace
      - id: trailing-whitespace
        types: [markdown]
        
      # Ensure files end with newline
      - id: end-of-file-fixer
        types: [markdown]
        
      # Check YAML syntax
      - id: check-yaml
        
      # Check for large files
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # Spell checking for documentation
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--write-changes]
        types_or: [markdown, rst, text]

Add build script for easy project compilation
  build.sh
Due: none

Implement Git-native data storage and processing pipeline
  README.md
  cmd/main.go
  docs/DATA_PIPELINE.md
  docs/GITHUB_PAGES_INTEGRATION.md
  docs/GIT_NATIVE_DATA_STORAGE.md
Due: check-package-docs, check-function-docs, check-todos

Implement comprehensive system profiling for benchmark execution
  README.md
  cmd/main.go
  docs/MULTI_CLOUD_ARCHITECTURE.md
  docs/SYSTEM_PROFILING.md
  pkg/aws/orchestrator.go
  pkg/profiling/system_profiler.go
Due: check-package-docs, check-function-docs, check-todos

Document infrastructure configuration system in README
  README.md
Due: none

Add comprehensive price/performance analysis integration
  BENCHMARK_TEST_RESULTS.md
  C7G_FAMILY_PRICE_PERFORMANCE_REPORT.md
  CLAUDE.md
  COMPREHENSIVE_TEST_SUMMARY.md
  README.md
  SYSTEM_AWARE_VALIDATION.md
  cmd/analyze_price_performance.go
  docs/PRICE_PERFORMANCE_INTEGRATION.md
  pkg/pricing/aws_pricing.go
  results/2025-06-30/c7g.large-coremark-20250630-011533.json
  results/2025-06-30/c7g.large-stream-20250630-012153.json
  results/2025-06-30/c7g.medium-coremark-20250630-011533.json
  results/2025-06-30/c7g.xlarge-stream-20250630-012153.json
Due: check-package-docs, check-function-docs, check-todos

Complete comprehensive generational benchmark analysis across AWS EC2 generations
  COMPREHENSIVE_GENERATIONAL_REPORT.md
  CROSS_ARCHITECTURE_SUMMARY.md
  GENERATIONAL_PERFORMANCE_ANALYSIS.md
  GENERATIONAL_TEST_PLAN.md
  MULTI_FAMILY_COMPARISON_REPORT.md
  MULTI_FAMILY_TEST_PLAN.md
  pkg/pricing/aws_pricing.go
  results/2025-06-30/c5.large-coremark-20250630-025530.json
  results/2025-06-30/c6i.large-stream-20250630-024710.json
  results/2025-06-30/c7a.large-coremark-20250630-014538.json
  results/2025-06-30/c7g.large-coremark-20250630-014538.json
  results/2025-06-30/c7g.large-coremark-20250630-015148.json
  results/2025-06-30/c7g.large-coremark-20250630-015758.json
  results/2025-06-30/c7g.large-stream-20250630-014538.json
  results/2025-06-30/c7g.large-stream-20250630-015148.json
  results/2025-06-30/c7i.large-coremark-20250630-015148.json
  results/2025-06-30/c7i.large-stream-20250630-015758.json
  results/2025-06-30/m5a.large-stream-20250630-025530.json
  results/2025-06-30/m6g.large-coremark-20250630-024710.json
  results/2025-06-30/m7a.large-coremark-20250630-021242.json
  results/2025-06-30/m7a.large-coremark-20250630-021852.json
  results/2025-06-30/m7a.large-stream-20250630-021242.json
  results/2025-06-30/m7g.large-coremark-20250630-021852.json
  results/2025-06-30/m7i.large-coremark-20250630-021852.json
  results/2025-06-30/m7i.large-stream-20250630-021242.json
Due: check-package-docs, check-function-docs, check-todos

Complete C/M/R family generational analysis across 5th-8th generations
  CLAUDE.md
  COMPLETE_C_M_R_GENERATIONAL_ANALYSIS.md
  results/2025-06-30/c8g.large-coremark-20250630-033938.json
  results/2025-06-30/r5.large-coremark-20250630-035554.json
  results/2025-06-30/r5.large-stream-20250630-035556.json
  results/2025-06-30/r6a.large-coremark-20250630-034748.json
  results/2025-06-30/r6i.large-stream-20250630-034748.json
  results/2025-06-30/r7g.large-stream-20250630-033127.json
  results/2025-06-30/r7i.large-coremark-20250630-033127.json
  results/2025-06-30/r8g.large-coremark-20250630-033938.json
Due: none

Add comprehensive multi-dimensional scaling analysis across generation, architecture, and instance size
  MULTI_DIMENSIONAL_SCALING_ANALYSIS.md
  results/2025-06-30/c7g.2xlarge-stream-20250630-040741.json
  results/2025-06-30/m7i.2xlarge-coremark-20250630-040739.json
Due: none

Add comprehensive AMD competitive position analysis revealing market displacement
  AMD_COMPETITIVE_POSITION_ANALYSIS.md
Due: none

CRITICAL FIX: Resolve AMD architecture detection bugs causing 76% performance degradation
  AMD_BUG_ANALYSIS_AND_FIX.md
  cmd/main.go
  results/2025-06-30/c7a.large-coremark-20250630-042949.json
Due: check-package-docs, check-function-docs, check-todos

Implement Phase 1: Unified Comprehensive Benchmark Strategy
  BENCHMARK_STRATEGY_ANALYSIS.md
  COMPREHENSIVE_BENCHMARK_STRATEGY.md
  COREMARK_BENCHMARK_ISSUE_ANALYSIS.md
  PHASE_1_IMPLEMENTATION_SUMMARY.md
  SCIENTIFIC_COMPUTING_BENCHMARK_STRATEGY.md
  UNIFIED_COMPREHENSIVE_BENCHMARK_STRATEGY.md
  pkg/aws/orchestrator.go
  test_unified_benchmarks.go
Due: check-package-docs, check-function-docs, check-todos

Document complete Phase 1 implementation of unified benchmark strategy
  UNIFIED_STRATEGY_COMPLETE.md
Due: none

Implement Phase 2: Advanced Scientific Computing Benchmarks
  PHASE_2_IMPLEMENTATION_COMPLETE.md
  PHASE_2_SCIENTIFIC_COMPUTING.md
  pkg/aws/orchestrator.go
  test_phase2_benchmarks.go
Due: check-package-docs, check-function-docs, check-todos

Complete Phase 2: Mixed Precision and Compilation Benchmarks
  MIXED_PRECISION_AND_COMPILATION_COMPLETE.md
  benchmarks
  pkg/aws/orchestrator.go
Due: check-package-docs, check-function-docs, check-todos

Complete Phase 2 Cross-Architecture Testing and Validation
  PHASE_2_TEST_VALIDATION_COMPLETE.md
  test_phase2_cross_architecture.go
  test_phase2_demo.go
  test_phase2_focused.go
  test_phase2_validation.go
Due: check-package-docs, check-function-docs, check-todos

Complete Phase 2 Testing: Full Implementation Validation
  PHASE_2_SIMULATION_RESULTS.md
  PHASE_2_TESTING_FINAL_REPORT.md
  test_phase2_simulation.go
  test_real_benchmarks.go
  test_single_benchmark.go
Due: check-package-docs, check-function-docs, check-todos

Implement asynchronous S3-based benchmark architecture with failsafe timeout protection
  ASYNC_ARCHITECTURE.md
  BENCHMARK_EXECUTION_SUCCESS.md
  async_benchmark_collector.go
  async_benchmark_launcher.go
  pkg/aws/async_collector.go
  pkg/aws/async_launcher.go
  pkg/aws/async_types.go
  run_real_benchmarks.go
  simple_benchmark_test.go
Due: check-package-docs, check-function-docs, check-todos

Add comprehensive end-of-day documentation and quick start guide
  END_OF_DAY_STATUS.md
  QUICK_START_GUIDE.md
Due: none

Enhanced Research Computing Benchmarks with Full Reproducibility
  .github/workflows/enhanced-benchmark-runner.yml
  ENHANCEMENT_PROPOSAL.md
  deployment/docker/Dockerfile.genomics
  deployment/docker/Dockerfile.ml
  deployment/docker/docker-compose.yml
  deployment/terraform/main.tf
  deployment/terraform/user-data.sh
  requirements-benchmarks.txt
  scripts/benchmark-runners/run-local-benchmarks.sh
Due: none

fix: add missing github.com/google/uuid dependency
  go.mod
  go.sum
Due: none

fix: correct storage package test interface signatures
  pkg/storage/s3_test.go
Due: check-todos

fix: resolve main function conflicts and clean build system
  async_benchmark_collector.go.disabled
  async_benchmark_launcher.go.disabled
  cmd/analyze_price_performance.go.separate
Due: none

fix: preserve async package code for future development
  pkg/aws/async_collector.go.disabled
  pkg/aws/async_launcher.go.disabled
  pkg/aws/async_types.go.disabled
Due: none

feat: add AWS Graviton4 processor support
  configs/architecture-mappings.json
Due: none

feat: create Graviton4-optimized build toolchain
  builds/graviton4/stream/Dockerfile
  builds/graviton4/stream/benchmark_runner.sh
  builds/graviton4/stream/spack-configs/graviton4.yaml
  builds/graviton4/stream/stream.c
Due: none

feat: enhance configuration system with comprehensive instance coverage
  configs/aws-infrastructure.json
Due: none

docs: update documentation with 2025 enhancements and comprehensive improvements
  IMPROVEMENTS_2025.md
  PR_PLAN.md
  README.md
Due: none

Add comprehensive PR management plan
  PR_MANAGEMENT_PLAN.md
Due: none

Phase 1 Complete: Foundation Successfully Established
  PHASE_1_COMPLETION_REPORT.md
Due: none
